<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center">
      Publicaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-app>
   
    <ion-content >
        <ion-grid fixed> 
            <ion-row>
              <ion-col size="12" size-md="3">
                 
                  <ion-card>
                     <ion-chip>
                      <ion-avatar>
                        <img src="assets/img/perfil.svg">
                      </ion-avatar>
                  <ion-label>Yetsi Rodriguez</ion-label>   
                     </ion-chip>
                   
                      <a routerLink="/compra" ><img src="assets/img/intel7.jpg" width="10%" height="200px"/></a>
                      <ion-card-header>
                        <ion-card-subtitle>Nueva</ion-card-subtitle>
                        <ion-card-title>Computadora intel 7</ion-card-title>
                         <ion-card-content>                        
                          <span> Bs.</span>
                          <span>70005200</span>                       
                       <br>
                       <span>Cant disponible: 12</span>
                       <br>
                       <a routerLink="/compra" > Ver detalles</a>
                       <br>
                      <span>12 likes </span>
                      <span>&nbsp;3 comentarios</span>
                      </ion-card-content>
                    
                        <ion-button title="Me gusta" shape="round" >
                         
                          <ion-icon  name="thumbs-up"></ion-icon>
                        </ion-button>
                        
                        <ion-button title="Comentar" shape="round" >
                            <ion-icon  name="chatboxes"></ion-icon>
                          </ion-button>
                         
                        
                      </ion-card-header>
                     
                    </ion-card>         

              </ion-col>
              <ion-col size="12" size-md="3">
               <ion-card>
                  <ion-chip>
                      <ion-avatar>
                        <img src="assets/img/perfil.svg">
                      </ion-avatar>
                  <ion-label>Jairo Flores</ion-label>   
                     </ion-chip>
                      <a routerLink="/compra" ><img src="assets/img/j7.jpg" width="10px" height="200px"/></a>
                      <ion-card-header>
                        <ion-card-subtitle>Nuevo</ion-card-subtitle>
                        <ion-card-title>Samsung J7</ion-card-title>
                         <ion-card-content>                        
                          <span> Bs.</span>
                          <span>2504000</span>                       
                       <br>
                       <span>Cant disponible: 52</span>
                       <br>
                       <a routerLink="/compra" > Ver detalles</a>
                       <br>
                       <span>2 likes </span>
                       <span>&nbsp;1 comentarios</span>
                      </ion-card-content>
                     
                        <ion-button title="Me gusta" shape="round" >
                          <ion-icon  name="thumbs-up"></ion-icon>
                        </ion-button>
                        <ion-button title="Comentar" shape="round" >
                            <ion-icon  name="chatboxes"></ion-icon>
                          </ion-button>                         
                        
                      </ion-card-header>
                     
                    </ion-card>
  
               </ion-col>
               <ion-col size="12" size-md="3">
                <ion-card>
                    <ion-chip>
                        <ion-avatar>
                          <img src="assets/img/perfil.svg">
                        </ion-avatar>
                    <ion-label>Yordan lópez</ion-label>   
                       </ion-chip>
                       <a routerLink="/compra" ><img src="assets/img/ipad.png" width="10px" height="200px"/></a>
                       <ion-card-header>
                         <ion-card-subtitle>Nuevo</ion-card-subtitle>
                         <ion-card-title>Ipag con Wifi</ion-card-title>
                          <ion-card-content>                        
                           <span> Bs.</span>
                           <span>270000</span>                       
                        <br>
                        <span>Cant disponible: 13</span>
                        <br>
                        <a routerLink="/compra" > Ver detalles</a>
                        <br>
                        <span>8 likes </span>
                        <span>&nbsp;7 comentarios</span>
                       </ion-card-content>
                      
                         <ion-button title="Me gusta" shape="round" >
                           <ion-icon  name="thumbs-up"></ion-icon>
                         </ion-button>
                         <ion-button title="Comentar" shape="round" >
                             <ion-icon  name="chatboxes"></ion-icon>
                           </ion-button>
                          
                         
                       </ion-card-header>
                      
                     </ion-card>
   
                </ion-col>
                <ion-col size="12" size-md="3">
                  
                  <ion-card>
                      <ion-chip>
                          <ion-avatar>
                            <img src="assets/img/perfil.svg">
                          </ion-avatar>
                      <ion-label>Mariol Gallardo</ion-label>   
                         </ion-chip>
                      <a routerLink="/compra" ><img src="assets/img/lapto.jpg" width="10%" height="200px"/></a>
                      <ion-card-header>
                        <ion-card-subtitle>Usada</ion-card-subtitle>
                        <ion-card-title>Lapto Lenovo</ion-card-title>
                         <ion-card-content>                        
                          <span> Bs.</span>
                          <span>5004200</span>                       
                       <br>
                       <span>Cant disponible: 2</span>
                       <br>
                       <a routerLink="/det-articulo" > Ver detalles</a>
                       <br>
                       <span>1 likes </span>
                       <span>&nbsp;0 comentarios</span>
                      </ion-card-content>
                     
                        <ion-button title="Me gusta" shape="round" >
                          <ion-icon  name="thumbs-up"></ion-icon>
                        </ion-button>
                        <ion-button title="Comentar" shape="round" >
                            <ion-icon  name="chatboxes"></ion-icon>
                          </ion-button>
                         
                        
                      </ion-card-header>
                     
                    </ion-card>         

              </ion-col>
            </ion-row>
            </ion-grid> 
      
    </ion-content>
  </ion-app>

</ion-content>
