<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button text="Atrás"  defaultHref="/"></ion-back-button>
            <ion-title >Categorias</ion-title>
          </ion-buttons>         
    </ion-toolbar>  
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
       Lista
    </ion-card-header>
    <ion-list>   
      <ion-item> 
        <ion-icon slot="start" name="phone-portrait" item-start  ></ion-icon> 
        <ion-label >Celulares, Telefonos y accesorios</ion-label>
      </ion-item>
      
      <ion-item>  
        <ion-icon slot="start" name="train" item-start  ></ion-icon> 
        <ion-label >Motos, Carros y otros</ion-label>
      </ion-item>
      <ion-item>  
        <ion-icon slot="start" name="football" item-start  ></ion-icon> 
         <ion-label >Deportes y Fitness</ion-label>
       </ion-item>
       
    </ion-list>
  </ion-card>
</ion-content>
